  pre {white-space:pre-wrap;word-wrap:break-word;font-size:17px;display:inline;line-height:1.7;}
  b {font-size:1.8rem;}
  h1 {font-size:25px;}
  /*body {padding-left: 15px;padding-right: 15px;color: #333333;font-family:-apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;font-weight:400;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}*/
  .table_cell_head{
  	 background-color: rgb(240, 242, 245);
  	 border: 1px solid rgb(221, 221, 221);
  	 color: rgb(0, 0, 0);
  	 padding: 7px 7px 7px 7px;
  	 font-size: 15px;
  	 font-weight: bold;
  	 text-align: left;
  }
  .table_cell_body{
  	border: 1px solid rgb(238, 238, 238);
  	color: rgb(0, 0, 0);
  	font-size: 15px;
  	padding: 7px 7px 7px 7px;
  	font-weight: normal;
  	text-align: left;
  }
  .table{
  	width:100%;
	text-indent: initial;
	border-spacing: 2px;
	border-collapse: collapse;
	margin:0;
	box-sizing: border-box;
	border-color: rgb(238, 238, 238);
	margin-bottom: 20px;
  }
 .para {margin-bottom:20px}
 .empty-line {height:1px;margin-bottom:15px}
 .item {margin-bottom:20px}